@tailwind base;
@tailwind components;
@tailwind utilities;

.web{
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
}
.level{
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;

  background-color: rgba(240, 240, 240, 0.306);
}
.headerframe{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;



}
.sections{
  margin-right: 10%;
}
.welcometittle{
  font-size: 40px;
  max-width: 350px;
}
.welcome{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 900px;
}
.welcomeframe{
  width: 100%;

  display: flex;
;
  column-gap: 20px;
  align-items: center;
  flex-direction: column;


}
.secondline{
  justify-content: center;
}
.logo{
  border-radius: 15px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}
.sectionsabout{
  max-width: 350px;
}
.sectionstittle{
  font-size: 20px;font-weight: 600;
  padding-top: 5px;
  padding-bottom: 10px;
}
.welcomesections{
  margin-top: 5%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.dots{
  position: fixed;
  top: 50%;
  right: 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.dots a{
  font-size: 0;
  cursor: pointer;
  width:  13px !important;
  height:   13px !important;
  border-radius: 50%;
  margin: 5px;
}

.portfolio{
  width: 100%;


}
.portfolioframe{
  width: 100%;
  height: 700px;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  display: flex;
}
.portfoliotittler{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 50px;
}
.skillchooser{
  border: 1px solid black;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Frontendportfolio{

  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}
.backendportfolio{

  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}
.fullstackportfolio{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}
.Allportfolio{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}
.skillchooser div{
  cursor: pointer;
}
.portfolioposts{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.posttittle{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
}
.postdesc{
  max-width: 300px;
}
.myitjobs{
  padding:20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 200px;

  border-top: 1px solid rgb(174, 174, 174);;
  border-bottom: 1px solid rgb(174, 174, 174);


}
.postmaintittle{
  font-size: 50px;
  font-weight: 700;
}
.postsimage{
  border-radius: 20px;
  width: 300px;
  height: 200px;
}
.div{
  width: 50px;
  height: 50px;
}
.mousecover{
  width: 100%;
  padding: 10px;
}
.myitjobscursor{

  padding: 30px;

  color: white;
}
.portfoliojobsimage{
  transition: 1s;
}
.experience{
  width: 100%;
  height: 500px;

  justify-content: center;
  display: flex;
}
.experienecframe{

  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;



}
.twentytittle{
  font-weight: 600;
}
.expandworks{
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  display: flex;
}
.experiencelist{
  max-width: 500px;
  flex-wrap: wrap;
  gap: 25px;
}
.experiencelist div{
  align-items: center;
}
.experiencetittler{
  font-size: 42px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}
.ball{
  border-radius: 50%;
  padding: 10px;

  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.baller{
  text-align: center;
}
.myit{
  margin-bottom: 20px;
}
.myittwentytittle{

  font-weight: 600;
}
.fullstacklogo{
  border-radius: 50%;
  width: 250px;
  height: 200px;
}
.contact{
  margin-top: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.phone{
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;



}
.mail{
   
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;


}
.contactframe{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infos{
  width: 50%;
  justify-content: space-around;
}
.inputsection input {

  width: 70%;
  background-color: aliceblue;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 5px;

}
.inputsection{
  margin-top: 50px;
  width: 56%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textinput{
  width: 70%;
  padding: 15px;
  background-color: aliceblue;
}
.contactittle{
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 50px;
}
.plans{
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plansframe{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #1e293b;
  padding: 10px;
  min-height: 650px;
}
.plana{
  background-color: white;
  min-width: 400px;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
}
.planb{
  background-color: white;
  min-width: 400px;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
}
.planc{

  justify-content: center;
  background-color: white;
  min-width: 400px;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
}
.plantittle{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
.ttl{
  padding: 5px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 24px;
}

.price{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  letter-spacing: 2px;

}
.customcheckbox{
  padding: 3px;
  border-radius: 5px;
}
.offers div{
  font-size: 18px;
  letter-spacing: 2.5px;
  font-weight: 600;
}
.btn{
  margin-top: 20px;
  width: 100%;
}
.btn button{
  min-width: 250px;
  text-align: center;
}
.header{
  position: fixed;
}
.profile{
  padding-top: 440px;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 300px;
}
.profileframe{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.GIGIBERIDZE{
  font-weight: 600;
  letter-spacing: 1px;
}
.profilename{
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: start;
  display: flex;

  justify-content: start;
}
.profiledesc{
  margin-top: 20px;
  max-width: 450px;
  text-align: start;
  letter-spacing: 1px;
  margin-bottom: 20px;
  display: flex;

  justify-content: start;
}
.profilebtns button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.profilecontact{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
}
.weblevel{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}